AcademicoPAAC/web/WEB-INF/wsdl/localhost_8080/AcademicoPAAC/WsServicioAlumno.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://webservie.palvarez.itq.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservie.palvarez.itq.com/">

<xs:element name="ObtenerAlumno" type="tns:ObtenerAlumno"/>

<xs:element name="ObtenerAlumnoResponse" type="tns:ObtenerAlumnoResponse"/>

<xs:complexType name="ObtenerAlumno">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="curso" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>